<launch>
<param name="/use_sim_time" value="true"/>
<!--rosservice call /panoptic_mapper/save_map "file_path: '/media/yuepan/SeagateNew/1_data/thesis_dataset/flat_dataset/results/single_tsdf_run1.panmap'"-->

<!-- ============ Arguments ============ -->
  <!-- General -->
  <arg name="namespace" default="data"/> 
  <arg name="visualize" default="true"/> 

  <!-- Robot model path -->
  <arg name="robot_mesh_file" default="$(find panoptic_mapping_ros)/config/model/car.dae"/> 
  
  <!-- Use ROS Bag -->
  <arg name="bag_speed" default="0.5"/> 

  <!-- Sequence No. -->
  <arg name='data_seq' default='08'/>

  <!-- Panoptic prediction method: select from gt, rangenet, etc. -->
  <arg name='pre_method' default='rangenet'/> 

  <!-- Semantic KITTI Dataset args-->
  <!-- Download the dataset from: http://www.semantic-kitti.org/ -->
  <!-- <arg name="data_path_kitti" default="/media/yuepan/SeagateNew/1_data/kitti/semantickitti_sequence$(arg data_seq)_$(arg pre_method).bag"/>    -->
  <arg name="data_path_kitti" default="/media/yuepan/DATA/1_data/kitti/rosbag/semantickitti_sequence$(arg data_seq)_$(arg pre_method).bag"/>

  <!-- Mapper -->
  <arg name="config" default="kitti_panmap"/> <!-- kitti_panmap (the multi-resolution mapping), kitti_mono --> 
  <arg name="shutdown_when_finished" default="false"/> 


<!-- ============ Run ============ -->
  
  <!-- Mapper -->
  <!-- Outdoor LiDAR -->
  <!-- Semantic KITTI -->
  <node name="player" pkg="rosbag" type="play" output="screen" args=" -r $(arg bag_speed) $(arg data_path_kitti) --clock"/>
  
  <node name="panoptic_mapper" pkg="panoptic_mapping_ros" type="panoptic_mapper_node" output="screen" >
  
    <!-- Config -->
    <rosparam file="$(find panoptic_mapping_ros)/config/mapper/$(arg config).yaml"/>
    <rosparam file="$(find panoptic_mapping_ros)/config/calib/kitti_calib.yaml"/>
    <param name="robot_mesh_file" value="$(arg robot_mesh_file)"/>
    <!-- Input -->
    <remap from="pointcloud" to="/velodyne_points_filtered" /> 
    <!-- For other sequences in KITTI -->
    <!-- <remap from="pointcloud" to="/velodyne_points" />  -->
  </node>  

  <!-- RVIZ Visualization-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find panoptic_mapping_ros)/config/rviz/vis_kitti.rviz" output="screen" if="$(arg visualize)"/>

</launch>
