<launch>

<!-- ============ Arguments ============ -->
  <!-- General -->
  <arg name="namespace" default="data"/> 
  <arg name="visualize" default="true"/> 
  
  <!-- Use ROS Bag -->
  <arg name="bag_speed" default="0.5"/> 

  <!-- Sequence No. -->
  <arg name='data_seq' default='02'/>

  <!-- Download the dataset here: https://ori-drs.github.io/newer-college-dataset/ -->
  <!-- Newer College Dataset args--> 
  <arg name="data_path_college" default="/media/yuepan/SeagateNew/1_data/NewerCollege/2020-ouster-os1-64-realsense/long_experiments/2020_long_filtered_$(arg data_seq).bag"/> 

  <!-- Mapper -->
  <arg name="config" default="college_mono"/> 
  <arg name="shutdown_when_finished" default="false"/> 


<!-- ============ Run ============ -->
  <!-- <include file="$(find lidar_undistortion)/launch/os1_undistortion.launch" /> -->

  <node name="player" pkg="rosbag" type="play" output="screen" args="-r $(arg bag_speed) $(arg data_path_college)"/>
  
  <node name="panoptic_mapper" pkg="panoptic_mapping_ros" type="panoptic_mapper_node" output="screen" >
  
    <!-- Config -->
    <rosparam file="$(find panoptic_mapping_ros)/config/mapper/$(arg config).yaml"/>
    
    <!-- Input -->
    <remap from="pointcloud" to="/os1_cloud_node/points" />
  </node>  
  

  <!-- RVIZ Visualization-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find panoptic_mapping_ros)/config/rviz/vis_college.rviz" output="screen" if="$(arg visualize)"/>

</launch>
